body {
  font-family: 'Source Sans Pro';
}
.nav-bar {
  /* Navbar / 2 */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  gap: 10px;

  position: absolute;
  width: 1440px;
  height: 72px;
  left: 1px;
  top: 0px;

  /* White/100 */

  background: #ffffff;
  /* Black/20 */
}
.left-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.right-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
}
.nav {
  display: flex;
  flex-direction: row;
}
.border {
  border-radius: 50px;
}
.side-bar {
  display: flex;
  flex-direction: row;
}
